:root {}

* {
    box-sizing: border-box;
    height: 30vh;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/* GRID */

.wrapper-grid,
.grid--two-cols,
.grid--four-cols,
nav ul {
    display: grid;
}

.wrapper-grid {
    grid-template-columns: minmax(1em, 1fr) minmax(0, 75em) minmax(1em, 1fr);
}

.grid--two-cols {
    grid-template-columns: repeat(2, 50%);
}

.grid--four-cols {
    grid-template-columns: repeat(4, 25%);
}

nav ul {
    width: 100%;
    grid-template-columns: repeat(12, calc(1170px/12));
}

/* STYLE */

nav li {
    display: block;
}

.social-nav {
    background-color: #21C2F8;
}

header {
    background-image: url("../pictures/lighthouse-2225445_960_720.jpg");
    background-size: cover;
}