* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-size: 1rem;
}

h2 {
    text-transform: uppercase;
}

ul,
ul > li,
ul > li > a {
    height: 100%;
}

ul > li, 
ul > li > a {
    display: inline-block;
}

/* GRID */
.wrapper-grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1em, 1fr) [main-start] minmax(0, 80em)[main-end] minmax(1em, 1fr) [full-end];
}

.wrapper-grid > div {
    grid-column: 2/3;
}

.grid-two-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
    align-items: center;
}

/* ESTRUCTURA */
nav {
    height: 100px;
}

header {
    height: 900px;
}

/* TODO-delete */
section {
    min-width: 20vh;
}
/*  */

.menu--green {
    height: 200px;
}

.partners {
    height: 144px;
}

#map,
.hero {
    height: 500px;
}

.menu--pictures {
    height: 280px;
}

footer {
    height: 70px;
}

/* CLASES */
.list--vertical > li,
.list--vertical > li > a {
    display: block;
}

.list--vertical > a {
    height: auto;
}

.btn {
    display: inline-block;
    min-width: 60px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    /* TODO-delete */
    background-color: green;
    /*  */
}